##### Sets

#### sets are abuilt in data type in python use to stare callections of uniqe item they are unardered meaning that the element do not follow a specifil order and they do not allow duplicate element sets are useful for membership set opration like union ittemersections difference and symmentric diffrenc.

In [1]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_set = set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# add the element

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# remove the element

my_set.remove(2)
print(my_set)

{1, 3, 4, 5, 6, 7}

In [6]:
# pop method 

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{3, 4, 5, 6, 7}

In [8]:
## clear  all the element 

my_set.clear()
print(my_set)

set()

In [9]:
# set membership opration 

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
 ## mathematical operation

set1={1, 2, 3, 4 ,5}
set2={6, 7, 8, 9, 5}

 # union
union_set= set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
#intersection 

intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{5}
{5}

In [9]:
# difference 

x={1,2,3,4,5}
y={5,6,7,8,9}
 

print(x.difference(y))

{1, 2, 3, 4}

In [10]:
# symmetric difference

x.symmetric_difference(y)

{1, 2, 3, 4, 6, 7, 8, 9}