##### Sets

#### sets are abuilt in data type in python use to stare callections of uniqe item they are unardered meaning that the element do not follow a specifil order and they do not allow duplicate element sets are useful for membership set opration like union ittemersections difference and symmentric diffrenc.

In [1]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_set = set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# add the element

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# remove the element

my_set.remove(2)
print(my_set)

{1, 3, 4, 5, 6, 7}

In [6]:
# pop method 

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{3, 4, 5, 6, 7}

In [8]:
## clear  all the element 

my_set.clear()
print(my_set)

set()

In [9]:
# set membership opration 

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
 ## mathematical operation

set1={1, 2, 3, 4 ,5}
set2={6, 7, 8, 9, 5}

 # union
union_set= set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
#intersection 

intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{5}
{5}

In [9]:
# difference 

x={1,2,3,4,5}
y={5,6,7,8,9}
 

print(x.difference(y))

{1, 2, 3, 4}

In [10]:
# symmetric difference

x.symmetric_difference(y)

{1, 2, 3, 4, 6, 7, 8, 9}

In [15]:
# set method 

x={1,2,3,4,5,6,7}
y={5,6,7}

print(x.issubset(y))
print(x.issuperset(y))

False
True

In [16]:
# counting unique worde in text

text=" aasth is reading a book"
word=text.split()

# convert list of word to set to get uniqu word

union_word=set(word)
print(union_word)
print(len(union_word))

{'aasth', 'is', 'reading', 'book', 'a'}
5

In [2]:
student={"name":"aastha","age":"20","gread":"24"}

print(student)
print(type(student))

{'name': 'aastha', 'age': '20', 'gread': '24'}
<class 'dict'>

In [13]:
# single key is always used

student={"name":"aastha","age":"20"}

print(student)
print(type(student))

{'name': 'aastha', 'age': '20'}
<class 'dict'>

In [15]:
print(student['age'])
print(student['name'])

20
aastha

In [19]:
# accessing using get() method

print(student.get('age'))
print(student.get('last_name',"not avaiable"))
print(student.get('name'))

20
not avaiable
aastha

In [20]:
print(student)

{'name': 'aastha', 'age': '20'}

In [21]:
student["age"]=22
print(student)
student["address"]="india"
print(student)

{'name': 'aastha', 'age': 22}
{'name': 'aastha', 'age': 22, 'address': 'india'}

In [22]:
student["gread"]="A"
print(student)

{'name': 'aastha', 'age': 22, 'address': 'india', 'gread': 'A'}

In [23]:
del student['gread']
print(student)

{'name': 'aastha', 'age': 22, 'address': 'india'}

In [24]:
student["gread"]="A"
print(student)

{'name': 'aastha', 'age': 22, 'address': 'india', 'gread': 'A'}

In [ ]:
## dictionory method

keys=student.keys()
print(keys) # get all the keys
values=student.values()
print(values)  # get all the values

items=student.items()
print(items) et #all the key values pairs

dict_keys(['name', 'age', 'address', 'gread'])
dict_values(['aastha', 22, 'india', 'A'])
dict_items([('name', 'aastha'), ('age', 22), ('address', 'india'), ('gread', 'A')])

In [28]:
# shallow copy

student_copy = student
print(student)
print(student_copy)

{'name': 'aastha', 'age': 22, 'address': 'india', 'gread': 'A'}
{'name': 'aastha', 'age': 22, 'address': 'india', 'gread': 'A'}

In [29]:
student["name"]="aastha2"
print(student_copy)
print(student)

{'name': 'aastha2', 'age': 22, 'address': 'india', 'gread': 'A'}
{'name': 'aastha2', 'age': 22, 'address': 'india', 'gread': 'A'}

In [30]:
# and then we use shollow copy 

student_copy1 = student.copy()
print(student_copy1)
print(student)

{'name': 'aastha2', 'age': 22, 'address': 'india', 'gread': 'A'}
{'name': 'aastha2', 'age': 22, 'address': 'india', 'gread': 'A'}

In [32]:
# then change the value

student["name"]="aastha3"
print(student_copy1)
print(student)

{'name': 'aastha2', 'age': 22, 'address': 'india', 'gread': 'A'}
{'name': 'aastha3', 'age': 22, 'address': 'india', 'gread': 'A'}

In [ ]:
## iterating over dictionaries

# you can use loops to iterate over dictionries keys values or item

# iterating over key

for keys in student.keys():
    print(keys)

name
age
address
gread

In [37]:
# iterating over values

for values in student.values():
    print(values)

aastha3
22
india
A

In [38]:
# iterating over item

for items in student.items():
    print(items)

('name', 'aastha3')
('age', 22)
('address', 'india')
('gread', 'A')

In [39]:
#one more method in pairs

for key,value in student.items():
    print(f"{key}:{value}")

name:aastha3
age:22
address:india
gread:A

In [44]:
## nested disctionries

students={
    "student1":{"name":"aastha","age":32},
    "student2":{"name":"nitu","age":35}
}
print(students)

{'student1': {'name': 'aastha', 'age': 32}, 'student2': {'name': 'nitu', 'age': 35}}

In [47]:
## access method dictionaries element

print(students["student2"]["name"]),
print(students["student2"]["age"])

nitu
35

In [48]:
students.items()

dict_items([('student1', {'name': 'aastha', 'age': 32}), ('student2', {'name': 'nitu', 'age': 35})])

In [61]:
# iterating nested dictionaries element

for student_id, student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key, value in student_info.items():
        print(f"{key}: {value}")

student1: {'name': 'aastha', 'age': 32}
name: aastha
age: 32
student2: {'name': 'nitu', 'age': 35}
name: nitu
age: 35

In [63]:
## dictionary compharehension

squares = { x:x**2 for x in range(10)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [64]:
## condition dictionary compharehension

even = {x:x**2 for x in range(12) if x%2==0 }
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [68]:
## practical example 


# use a dictionary to count he frequency of element in list

numbers = [1,2,2,3,3,3,4,4,4,4,5]

frequency = {}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 1}

In [69]:
## merge 2 dictionaries into one

dist1 = {"a":1,"b":2}
dist2 = {"b":3,"c":4}
marge_dist = {**dist1,**dist2}
print(marge_dist)

{'a': 1, 'b': 3, 'c': 4}