##### Tuples

### Explanamtion 

### tuples are or dered callection of item that are immutable that are similar to lists but their immtable make tham different

In [1]:

## creating a  tuples

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpy=tuple()
print(type(tpy))

<class 'list'>
<class 'tuple'>

In [3]:
number=tuple([1,2,3,4,5,6])
number

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"hello",3,14,True)
print(mixed_tuple)

(1, 'hello', 3, 14, True)

In [6]:
## Accessing tuple element

number

(1, 2, 3, 4, 5, 6)

In [9]:
print(number[2])
print(number[-1])
print(number[0:4])
print(number[::-1])

3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [11]:
## tuple opration 

concatenation_tuple = number + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3, 14, True)

In [14]:
mixed_tuple * 3

(1, 'hello', 3, 14, True, 1, 'hello', 3, 14, True, 1, 'hello', 3, 14, True)

In [15]:
number * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [16]:
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [17]:
lst[1]="aastha"
print(lst)

[1, 'aastha', 3, 4, 5]

In [20]:
number

(1, 2, 3, 4, 5, 6)

In [23]:
print(number.count(1))
print(number.index(3))

1
2

In [24]:
packed_tuple = 1,"hello",3.24
print(packed_tuple)

(1, 'hello', 3.24)

In [25]:
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
hello
3.24

In [26]:
## unpacking with

number = (1,2,3,4,5)
first,*middle,last = number
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [27]:
## nested tuple

lst = [[1,2,3,4],[2.3,4.5,5.6],["hello","aastha","hii"],["hello","2.23",True,11]]
lst[2][0:3]

['hello', 'aastha', 'hii']

In [37]:
nested_tuple= [[1,2,3,4],[2.3,4.5,5.6],["hello", " aastha", " hii"],["hello"," 2.23", True, 11]]
# access the element inside a tuple

print(nested_tuple[0])
print(nested_tuple[1][2])

[1, 2, 3, 4]
5.6

In [38]:
# iterating over nestedtuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end = "")
    print()

1234
2.34.55.6
hello aastha hii
hello 2.23True11