## The map function in Python.

####  The map() function oppliesa given function to all item in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for tromsforming data in a list comprehensively.

In [3]:
def squ(x):
    return x*x

squ(2)

4

In [4]:
## then we use map() function 

numbers=[1,2,3,4,5,6,7,8]

list(map(squ,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
## use of lambda function with map() function

number=[1,2,3,4,5,6,7,8,9]

list(map(lambda x:x*x,number))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
##  map multiple iterables-

numbers1=[1,2,3,4]
numbers2=[5,6,7,8]

add= numbers=list(map(lambda x,y:x+y,numbers1,numbers2))

print(add)
print(type(add))

[6, 8, 10, 12]
<class 'list'>

In [9]:
## map() to convert a list of string to integers-

str_numbers=['1','2','3','4','5']

int_numbers = list(map(int,str_numbers))

print(int_numbers)
print(type(int_numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [11]:
## some more example 

words = ['apple','banana','grapes']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'GRAPES']

In [12]:
 word = ['APPLE','BANANA','ORANGE']
 lower_word=list(map(str.lower,word))
 print(lower_word)

['apple', 'banana', 'orange']

In [15]:
## some more example

def get_name(person):
    return person['name']

people=[

    {'name':'aastha','age':20},
    {'name':'alok','age':19}
]
list(map(get_name,people))

['aastha', 'alok']